<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>{{chores.type}}</th>
      <th>Person</th>
    </tr>
  </thead>
  <tbody>
    {{#each chores.items}}
      <tr>
        <td>{{this.chore}}</td>
        <td>{{this.person}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
<form action="{{rotate.url}}">
  <button type="submit" class="btn btn-primary" {{#if rotate.disabled}}disabled="disabled"{{/if}}>Rotate</button>
</form>