<table class="roster-table">
  <thead>
    <tr>
      <th>{{roster.type}}</th>
      <th>Person</th>
    </tr>
  </thead>
  <tbody>
    {{#each roster.items}}
      <tr>
        <td>{{this.chore}}</td>
        <td>{{this.person}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
<form action="{{rotate_url}}">
  <button type="submit">Rotate</button>
</form>