<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Karen</title>
    <script defer src="index.js"></script>
    <style>
      body { font-family: AppleGothic; text-align: center; }
    </style>
  </head>
  <body>
    {{{body}}}
  </body>
</html>