<table class="table table-hover table-striped" id="roster-table">
  <thead>
    <tr>
      <th>{{roster.type}}</th>
      <th>Person</th>
    </tr>
  </thead>
  <tbody>
    {{#each roster.items}}
      <tr class="roster-pair{{#if this.current}} table-info{{/if}}">
        <td class="calendar">{{this.calendar}}</td>
        <td class="person">{{this.person}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>