<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>{{roster.type}}</th>
      <th>Person</th>
    </tr>
  </thead>
  <tbody>
    {{#each roster.items}}
      <tr {{#if this.current}}class="table-info"{{/if}}>
        <td>{{this.calendar}}</td>
        <td>{{this.person}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>